In [1]:
%load_ext autoreload
%autoreload 2
import numpy as np 
from matplotlib import pyplot as plt 
import pandas as pd 
import seaborn as sns
import joblib

In [2]:
from sklearn.ensemble import RandomForestClassifier

In [3]:
from choices import get_train_data

offset:  	0.000|9.999
singinficance:  0.870|267.938
offset:  	0.000|2.010
singinficance:  3.000|267.938

In [15]:
df = get_train_data()
df = df.sample(frac=0.2)[['class' , 'gal_l2' , 'gal_b2' , 'hard_hm' , 'hard_hs']]
df

offset:  	0.000|9.999
singinficance:  0.870|267.938

                        class    gal_l2    gal_b2  hard_hm   hard_hs
name
2CXO J034429.5+320404    STAR  4.459487  3.996567  9.40000   0.00000
2CXO J064143.0+092329    STAR  5.651908  5.114768  0.00000   0.00000
2CXO J073445.6-155919  PULSAR  6.446179  5.108348  0.00000   0.78750
2CXO J064057.4+093514    STAR  5.644685  5.110461  0.00000   0.00000
2CXO J100200.3+022115     AGN  6.582200  7.371073  5.42500   5.10625
...                       ...       ...       ...      ...       ...
2CXO J095527.2+694050    HMXB  3.928790  7.260356  0.00000   0.00000
2CXO J122419.8+110722     AGN  7.775531  9.061201  5.75000   3.23750
2CXO J143142.0+354218     AGN  1.696471  8.740782  2.81875   1.50000
2CXO J134017.1+555045     AGN  3.033565  8.345535  7.26250   2.98750
2CXO J181815.3-164851     YSO  0.395624  4.966987  7.93125  10.00000

[2775 rows x 5 columns]

In [16]:
df['class'].value_counts()

AGN       974
STAR      938
YSO       485
HMXB      185
CV         78
ULX        54
LMXB       36
PULSAR     25
Name: class, dtype: int64

In [6]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)

In [11]:
df

                      class    gal_l2    gal_b2  hard_hm
name
2CXO J100754.6-402111  STAR  7.561134  5.697662   4.0250
2CXO J104412.5+064239  STAR  6.698532  7.987697   0.0000
2CXO J113621.2+015928   AGN  7.338107  8.296900   4.9750
2CXO J171411.9+501602   AGN  2.139674  6.995350   7.4750
2CXO J055220.4+323106  STAR  4.935281  5.167882   0.0000
...                     ...       ...       ...      ...
2CXO J044223.5+020231   AGN  5.414149  3.471136   4.6125
2CXO J112108.5+232151   AGN  6.065963  8.865436   5.4250
2CXO J005237.2-722733  STAR  8.411302  2.500317   5.1125
2CXO J172234.5+321239  STAR  1.546834  6.775318   0.0000
2CXO J151340.0+260729   AGN  1.093349  8.252924  10.0000

[2775 rows x 4 columns]

In [17]:
df.to_csv('example_data.csv')

In [7]:
x = df.drop(columns=['class'])
y = df['class']

In [8]:
from utilities_v3 import make_model
make_model.validate

In [119]:
type(oversampler)

imblearn.over_sampling._smote.base.SMOTE

In [9]:
from utilities_v3 import make_model
from imblearn.over_sampling import SMOTE
oversampler = SMOTE(k_neighbors=2)
model = make_model('test_model',clf , oversampler , x , y)
model.validate(save_predictions=True , multiprocessing=True  , k_fold=-1)

[INFO] >>> Doing LeaveOneOut cross-validation

In [114]:
model.validation_prediction

,true_class,pred_class,pred_prob,prob_AGN,prob_CV,prob_HMXB,prob_LMXB,prob_PULSAR,prob_STAR,prob_ULX,prob_YSO
name,,,,,,,,,,,
2CXO J021013.6-001159,AGN,ULX,0.5,0.1,0.0,0.2,0.0,0.0,0.2,0.5,0.0
2CXO J005850.4-721713,STAR,STAR,0.8,0.0,0.2,0.0,0.0,0.0,0.8,0.0,0.0
2CXO J140208.6+541546,HMXB,HMXB,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2CXO J192107.4+374756,CV,STAR,0.6,0.0,0.0,0.0,0.4,0.0,0.6,0.0,0.0
2CXO J043332.8+180043,STAR,STAR,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2CXO J130905.6+113802,AGN,STAR,0.4,0.3,0.1,0.1,0.0,0.0,0.4,0.0,0.1
2CXO J053833.5-024413,STAR,STAR,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2CXO J213745.1+572817,STAR,STAR,0.9,0.0,0.1,0.0,0.0,0.0,0.9,0.0,0.0
2CXO J080117.8+521034,AGN,AGN,0.5,0.5,0.0,0.2,0.0,0.0,0.2,0.1,0.0
2CXO J181908.5-133624,YSO,YSO,0.6,0.1,0.0,0.0,0.0,0.0,0.3,0.0,0.6

In [115]:
model.validation_score

{'class_labels': ['AGN', 'CV', 'HMXB', 'LMXB', 'PULSAR', 'STAR', 'ULX', 'YSO'],
 'confusion_matrix': array([[199,  12,  10,   0,   0,  14,  21,   2],
        [  4,   5,   1,   0,   1,   5,   1,   2],
        [  9,   3,  18,   0,   0,   4,   1,   0],
        [  1,   0,   0,   8,   0,   2,   0,   1],
        [  0,   1,   0,   1,   0,   1,   0,   1],
        [ 20,  15,   3,   4,  12, 137,   3,  32],
        [  9,   0,   2,   0,   0,   0,   2,   0],
        [  0,   2,   0,   4,   3,  26,   0,  92]]),
 'overall_scores': {'balanced_accuracy': 0.4624847997596407,
  'accuracy': 0.6642651296829971,
  'precision': 0.711036160961418,
  'recall': 0.6642651296829971,
  'f1': 0.6844260995776453,
  'mcc': 0.5496667280340757},
 'class_wise_scores':         recall_score  precision_score  f1_score
 class
 AGN         0.771318         0.822314  0.796000
 CV          0.263158         0.131579  0.175439
 HMXB        0.514286         0.529412  0.521739
 LMXB        0.666667         0.470588  0.551724
 PULSAR      0.000000         0.000000  0.000000
 STAR        0.606195         0.724868  0.660241
 ULX         0.153846         0.071429  0.097561
 YSO         0.724409         0.707692  0.715953}