In [1]:
import pandas as pd 
import numpy as np

In [9]:
df_train = pd.read_csv('../../../not_on_git/final_classification/train_data.csv', usecols=['name', 'ra', 'dec' , 'class'])
df_train = df_train.set_index('name')
df_train

                      class          ra        dec
name
2CXO J002359.4-720438    CV    5.997523 -72.077393
2CXO J174041.4-534004    CV  265.172853 -53.667935
2CXO J002409.2-720543    CV    6.038483 -72.095544
2CXO J002411.1-720620    CV    6.046367 -72.105583
2CXO J002401.4-720441    CV    6.005988 -72.078311
...                     ...         ...        ...
2CXO J003444.5-431554   AGN    8.685473 -43.265148
2CXO J203606.3+422737   YSO  309.026368  42.460379
2CXO J131747.5+411745   AGN  199.448025  41.295864
2CXO J023234.3-073105   AGN   38.143197  -7.518061
2CXO J103357.8+574942   AGN  158.490834  57.828580

[7703 rows x 3 columns]

In [20]:
df_cos = pd.read_csv('all-csc-all-cosmos-v3.csv', usecols=['name', 'ra', 'dec', 'angDist', 'conf_flag', 'pileup_flag', 'streak_src_flag', 'sat_src_flag', 'spec_type', 'phot_type', 'star_flag'])
df_cos = df_cos[df_cos['conf_flag']==False]
df_cos = df_cos.set_index('name')
df_cos = df_cos[df_cos['angDist']<=1]
df_cos

,angDist,ra,dec,conf_flag,pileup_flag,streak_src_flag,sat_src_flag,star_flag,spec_type,phot_type
name,,,,,,,,,,
2CXO J100317.3+014837,0.804290,10 03 17.384,+01 48 37.18,False,False,False,False,0,-9,1
2CXO J100317.4+024017,0.526664,10 03 17.441,+02 40 17.78,False,False,False,False,0,-9,1
2CXO J100317.5+021608,0.822762,10 03 17.553,+02 16 08.71,False,False,False,False,0,-9,1
2CXO J100318.6+021811,0.808124,10 03 18.699,+02 18 11.17,False,False,False,False,0,-9,1
2CXO J100319.8+020952,0.808117,10 03 19.879,+02 09 52.30,False,False,False,False,0,-9,1
...,...,...,...,...,...,...,...,...,...,...
2CXO J100316.4+024106,0.658377,10 03 16.498,+02 41 06.97,False,False,False,False,0,-9,3
2CXO J100316.5+021811,0.414377,10 03 16.508,+02 18 11.15,False,False,False,False,0,-9,3
2CXO J100316.6+022423,0.924509,10 03 16.672,+02 24 23.03,False,False,False,False,0,-9,1
2CXO J100316.9+015526,0.206203,10 03 16.964,+01 55 26.59,False,False,False,False,0,-9,3
2CXO J100316.9+020739,0.910412,10 03 16.954,+02 07 39.08,False,False,False,False,0,-9,1

In [19]:
df_all = pd.read_csv('all_clf.csv', usecols=['name', 'ra', 'dec' ,'class', 'prob'])
df_all = df_all.set_index('name')
df_cos = pd.read_csv('all-csc-all-cosmos-v3.csv', usecols=['name', 'ra', 'dec', 'angDist', 'conf_flag', 'pileup_flag', 'streak_src_flag', 'sat_src_flag', 'spec_type', 'phot_type', 'star_flag'])
df_cos = df_cos[df_cos['conf_flag']==False]
df_cos = df_cos.set_index('name')
df_cos = df_cos[df_cos['angDist']<=1]
df_cos

,angDist,ra,dec,conf_flag,pileup_flag,streak_src_flag,sat_src_flag,star_flag,spec_type,phot_type
name,,,,,,,,,,
2CXO J100317.3+014837,0.804290,10 03 17.384,+01 48 37.18,False,False,False,False,0,-9,1
2CXO J100317.4+024017,0.526664,10 03 17.441,+02 40 17.78,False,False,False,False,0,-9,1
2CXO J100317.5+021608,0.822762,10 03 17.553,+02 16 08.71,False,False,False,False,0,-9,1
2CXO J100318.6+021811,0.808124,10 03 18.699,+02 18 11.17,False,False,False,False,0,-9,1
2CXO J100319.8+020952,0.808117,10 03 19.879,+02 09 52.30,False,False,False,False,0,-9,1
...,...,...,...,...,...,...,...,...,...,...
2CXO J100316.4+024106,0.658377,10 03 16.498,+02 41 06.97,False,False,False,False,0,-9,3
2CXO J100316.5+021811,0.414377,10 03 16.508,+02 18 11.15,False,False,False,False,0,-9,3
2CXO J100316.6+022423,0.924509,10 03 16.672,+02 24 23.03,False,False,False,False,0,-9,1
2CXO J100316.9+015526,0.206203,10 03 16.964,+01 55 26.59,False,False,False,False,0,-9,3
2CXO J100316.9+020739,0.910412,10 03 16.954,+02 07 39.08,False,False,False,False,0,-9,1

In [26]:
df = pd.merge(df_cos, df_all, left_index=True, right_index=True, how='right')
df = df[df['angDist']<=1]
df

,angDist,ra_x,dec_x,conf_flag,pileup_flag,streak_src_flag,sat_src_flag,star_flag,spec_type,phot_type,ra_y,dec_y,class,prob
name,,,,,,,,,,,,,,
2CXO J095717.8+021515,0.791334,09 57 17.826,+02 15 15.74,False,False,False,False,0.0,-9.0,1.0,149.324275,2.254371,AGN,0.999750
2CXO J095722.9+023146,0.566585,09 57 22.931,+02 31 46.73,False,False,False,False,0.0,-9.0,1.0,149.345547,2.529647,AGN,0.996052
2CXO J095726.0+024501,0.367624,09 57 26.069,+02 45 01.04,False,False,False,False,0.0,-9.0,1.0,149.358621,2.750290,AGN,0.999921
2CXO J095727.0+023837,0.746436,09 57 27.039,+02 38 37.55,False,False,False,False,0.0,-9.0,3.0,149.362662,2.643763,AGN,0.999671
2CXO J095727.4+023440,0.389594,09 57 27.430,+02 34 40.29,False,False,False,False,0.0,-9.0,3.0,149.364292,2.577859,STAR,0.976716
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2CXO J100309.3+021957,0.966242,10 03 09.301,+02 19 57.94,False,False,False,False,0.0,-9.0,3.0,150.788754,2.332760,AGN,0.994529
2CXO J100310.3+015008,0.292568,10 03 10.338,+01 50 08.93,False,False,False,False,0.0,-9.0,1.0,150.793076,1.835813,AGN,0.999978
2CXO J100311.2+020820,0.488404,10 03 11.284,+02 08 20.66,False,False,False,False,0.0,-9.0,3.0,150.797018,2.139072,AGN,0.999968
2CXO J100312.0+021222,0.176673,10 03 12.085,+02 12 22.04,False,False,False,False,0.0,-9.0,3.0,150.800355,2.206122,AGN,0.999898
2CXO J100313.8+015214,0.232141,10 03 13.835,+01 52 14.60,False,False,False,False,0.0,-1.0,3.0,150.807646,1.870723,AGN,0.993293

In [20]:
df['class'].value_counts()

AGN     2199
STAR      74
Name: class, dtype: int64

In [21]:
agn = df[df['class']=='AGN']
star = df[df['class']=='STAR']

In [23]:
agn['phot_type'].value_counts()

 3.0     1451
 1.0      452
 2.0      207
-99.0      68
 5.0       21
Name: phot_type, dtype: int64

In [24]:
agn['spec_type'].value_counts()

-9.0     1045
 2.0      622
 1.0      279
-99.0     152
-1.0       74
 0.0       16
-2.0       11
Name: spec_type, dtype: int64

In [25]:
agn['star_flag'].value_counts()

0.0     2175
1.0       15
10.0       9
Name: star_flag, dtype: int64

In [27]:
star['spec_type'].value_counts()

 0.0    39
-9.0    30
 2.0     4
-1.0     1
Name: spec_type, dtype: int64

In [13]:
df_cos

,angDist,ra,dec,conf_flag,pileup_flag,streak_src_flag,sat_src_flag,star_flag,spec_type,phot_type
name,,,,,,,,,,
2CXO J100317.3+014837,0.804290,10 03 17.384,+01 48 37.18,False,False,False,False,0,-9,1
2CXO J100317.4+024017,0.526664,10 03 17.441,+02 40 17.78,False,False,False,False,0,-9,1
2CXO J100317.5+021608,0.822762,10 03 17.553,+02 16 08.71,False,False,False,False,0,-9,1
2CXO J100318.6+021811,0.808124,10 03 18.699,+02 18 11.17,False,False,False,False,0,-9,1
2CXO J100319.8+020952,0.808117,10 03 19.879,+02 09 52.30,False,False,False,False,0,-9,1
...,...,...,...,...,...,...,...,...,...,...
2CXO J100316.4+024106,0.658377,10 03 16.498,+02 41 06.97,False,False,False,False,0,-9,3
2CXO J100316.5+021811,0.414377,10 03 16.508,+02 18 11.15,False,False,False,False,0,-9,3
2CXO J100316.6+022423,0.924509,10 03 16.672,+02 24 23.03,False,False,False,False,0,-9,1
2CXO J100316.9+015526,0.206203,10 03 16.964,+01 55 26.59,False,False,False,False,0,-9,3
2CXO J100316.9+020739,0.910412,10 03 16.954,+02 07 39.08,False,False,False,False,0,-9,1

In [14]:
df_train

                      class          ra        dec
name
2CXO J002359.4-720438    CV    5.997523 -72.077393
2CXO J174041.4-534004    CV  265.172853 -53.667935
2CXO J002409.2-720543    CV    6.038483 -72.095544
2CXO J002411.1-720620    CV    6.046367 -72.105583
2CXO J002401.4-720441    CV    6.005988 -72.078311
...                     ...         ...        ...
2CXO J003444.5-431554   AGN    8.685473 -43.265148
2CXO J203606.3+422737   YSO  309.026368  42.460379
2CXO J131747.5+411745   AGN  199.448025  41.295864
2CXO J023234.3-073105   AGN   38.143197  -7.518061
2CXO J103357.8+574942   AGN  158.490834  57.828580

[7703 rows x 3 columns]

In [24]:
df_train_cosmos =  pd.merge(df_train, df_cos, left_index=True, right_index=True, how='inner')
df_train_cosmos

,class,ra_x,dec_x,angDist,ra_y,dec_y,conf_flag,pileup_flag,streak_src_flag,sat_src_flag,star_flag,spec_type,phot_type
name,,,,,,,,,,,,,
2CXO J095753.4+024735,AGN,149.472898,2.793296,0.562594,09 57 53.495,+02 47 35.87,False,False,False,False,0,1,1
2CXO J095915.0+014926,AGN,149.812891,1.823901,0.746863,09 59 15.094,+01 49 26.04,False,False,False,False,0,2,3
2CXO J100213.3+023351,AGN,150.555804,2.564187,0.622396,10 02 13.393,+02 33 51.07,False,False,False,False,0,1,1
2CXO J100110.1+023242,AGN,150.292481,2.545008,0.421803,10 01 10.195,+02 32 42.03,False,False,False,False,0,1,1
2CXO J100149.6+023853,AGN,150.456703,2.648121,0.511725,10 01 49.609,+02 38 53.23,False,False,False,False,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2CXO J095841.9+015443,AGN,149.674943,1.911968,0.199527,09 58 41.986,+01 54 43.08,False,False,False,False,0,-99,3
2CXO J100130.8+024405,AGN,150.378576,2.734979,0.419336,10 01 30.858,+02 44 05.92,False,False,False,False,0,2,2
2CXO J100025.0+024128,AGN,150.104357,2.691235,0.432977,10 00 25.046,+02 41 28.45,False,False,False,False,0,1,1
2CXO J100113.8+014000,AGN,150.307708,1.666888,0.708144,10 01 13.850,+01 40 00.80,False,False,False,False,0,-99,1
2CXO J095845.8+022007,AGN,149.691065,2.335510,0.526350,09 58 45.856,+02 20 07.84,False,False,False,False,0,2,3

In [18]:
df_train_cosmos['class'].value_counts()

AGN    217
Name: class, dtype: int64

In [30]:
ms = pd.read_csv('mystix.tsv', delimiter='|')
ms.to_csv('mystix.csv')
ms

       recno              MIRES   RAJ2000   DEJ2000
0          1  G205.9689-16.4401  85.10151  -1.46512
1          2  G206.3476-16.6308  85.10255  -1.87517
2          3  G206.6039-16.7577  85.10460  -2.15155
3          4  G206.5792-16.7336  85.11493  -2.11940
4          5  G206.3637-16.6098  85.12830  -1.87903
...      ...                ...       ...       ...
20714  20715  G173.7805-01.5421  80.95223  33.32857
20715  20716  G173.7525-01.5227  80.95252  33.36255
20716  20717  G173.8482-01.5877  80.95282  33.24697
20717  20718  G173.8207-01.5652  80.95653  33.28235
20718  20719  G173.8448-01.5807  80.95740  33.25372

[20719 rows x 4 columns]

In [31]:
df = pd.read_csv('mystix-csc-xmatch.csv')
df

,angDist,col1,name,significance,var_flag,streak_src_flag,pileup_flag,ra,dec,conf_flag,class,prob,var_inter_index_b,var_intra_index_b,col1.1,recno,MIRES,RAJ2000,DEJ2000
0,0.515919,60408,2CXO J052248.3+331937,4.971429,0,0,0,80.701422,33.327126,0,STAR,0.998080,NaN,5.0,19983,19984,G173.6634-01.7160,80.70137,33.32699
1,0.206796,140577,2CXO J171907.5-360700,4.666667,0,0,0,259.781303,-36.116823,0,YSO,0.994586,10.00,0.0,12108,12109,G350.9392+00.7474,259.78130,-36.11688
2,0.688788,617,2CXO J172052.9-354257,3.200000,0,0,0,260.220706,-35.715892,0,YSO,0.964381,NaN,5.0,12603,12604,G351.4717+00.6848,260.22090,-35.71600
3,0.212454,618,2CXO J172053.2-354305,2.810811,0,0,0,260.221880,-35.718281,0,YSO,0.966853,NaN,0.0,12605,12606,G351.4703+00.6828,260.22184,-35.71833
4,0.627263,11242,2CXO J054125.5-014809,5.235294,0,0,0,85.356580,-1.802648,0,STAR,0.999951,NaN,0.0,197,198,G206.4040-16.3725,85.35643,-1.80256
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
791,0.687568,158970,2CXO J203905.6+421343,4.057143,0,0,0,309.773413,42.228692,0,YSO,0.998289,6.25,0.0,10628,10629,G081.6101+00.4678,309.77320,42.22880
792,0.625947,158976,2CXO J203906.7+422101,2.684211,0,0,0,309.778105,42.350460,0,YSO,0.998357,7.50,10.0,10655,10656,G081.7088+00.5392,309.77789,42.35053
793,0.904560,158995,2CXO J203912.2+421527,2.166667,0,0,0,309.801247,42.257737,0,YSO,0.987516,7.50,10.0,10728,10729,G081.6454+00.4690,309.80102,42.25755
794,0.746113,159013,2CXO J203916.7+421919,8.106713,0,0,0,309.819826,42.322065,0,STAR,0.998801,0.00,10.0,10783,10784,G081.7050+00.4974,309.81957,42.32215
795,0.936362,159026,2CXO J203924.7+421251,2.837209,0,0,0,309.853002,42.214205,0,YSO,0.974296,6.25,5.0,10847,10848,G081.6342+00.4122,309.85267,42.21412

In [32]:
df['class'].value_counts()

STAR      585
YSO       197
PULSAR     10
CV          2
AGN         2
Name: class, dtype: int64

In [34]:
ms = pd.read_csv('mystix-all.tsv', delimiter='|')
ms.to_csv('mystix-all.csv')
ms

       recno   RAJ2000   DEJ2000
0          1  83.62273  -5.39373
1          2  83.64147  -5.36977
2          3  83.65928  -5.40653
3          4  83.66634  -5.44500
4          5  83.66681  -5.43448
...      ...       ...       ...
31544  31545  80.87986  33.50274
31545  31546  80.88428  33.46211
31546  31547  80.88461  33.42338
31547  31548  80.88652  33.40660
31548  31549  80.90663  33.38317

[31549 rows x 3 columns]