# Result Anaysis

## Import

In [1]:
import pandas as pd 
from matplotlib import pyplot as plt 
import seaborn as sns 
%load_ext autoreload
%autoreload 2

## Load Data

In [2]:
df = pd.read_csv(
    '../../not_on_git/final_classification/all_classified.csv' , 
    usecols=['name'  , 'ra' ,'dec' ,'prob', 'class' , 'prob_margin' ] , 
    index_col='name')
df

                               ra        dec   class      prob  prob_margin
name
2CXO J003935.9-732725    9.899767 -73.457136    STAR  0.777433     0.638933
2CXO J003936.7-731249    9.903193 -73.213742  PULSAR  0.608646     0.451597
2CXO J004028.7-731106   10.119748 -73.185171     AGN  0.446212     0.092019
2CXO J004506.3-730056   11.276413 -73.015666  PULSAR  0.598368     0.283901
2CXO J004659.0-731918   11.745895 -73.321890    STAR  0.821817     0.718309
...                           ...        ...     ...       ...          ...
2CXO J220433.1-495916  331.138121 -49.987838    HMXB  0.671695     0.438401
2CXO J220508.3-495935  331.284642 -49.993301    HMXB  0.913425     0.850303
2CXO J220544.0-495505  331.433541 -49.918280    HMXB  0.801407     0.710030
2CXO J220555.6-500837  331.481942 -50.143735    HMXB  0.926816     0.864189
2CXO J220603.1-500911  331.513060 -50.153192    STAR  0.985432     0.971931

[269366 rows x 5 columns]

## Result data analysis

In [6]:
from utilities import deets

In [5]:
df.describe()

                  ra            dec           prob    prob_margin
count  269366.000000  269366.000000  269366.000000  269366.000000
mean      183.313107      -0.742581       0.813839       0.695972
std        96.095344      38.952453       0.204431       0.326728
min         0.000020     -85.704914       0.205710       0.000004
25%       107.652528     -30.056148       0.653981       0.423918
50%       190.378742       0.034458       0.905588       0.840610
75%       264.953040      33.005650       0.993636       0.988982
max       359.999961      89.387860       0.999999       0.999998